{%extends 'nav.html'%}

{%block content%}
<section class="container forms">

    <!---REGISTER FORM-->
    <div class="form signup">
        <div class="form-content">
            <header>Signup</header>
            <form action=" {{ url_for('register_user') }} " method="POST">
                {{form.hidden_tag()}}

                <div class="field input-field">
                    {% if form.username.errors %}
                    {{form.username(class='is-invalid', placeholder='Username')}}

                    <div class="invalid-feedback">
                        {% for error in form.username.errors%}
                        <span class="form-error"> {{error}} </span>
                        {%endfor%}
                    </div>
                    {% else %}

                    {{form.username(type='text', class='input', placeholder='Username')}}

                    {%endif%}
                </div>

                <div class="field input-field">
                    {% if form.email.errors %}
                    {{form.email(class='is-invalid', placeholder='Email')}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors%}
                        <span class="form-error"> {{error}} </span>
                        {%endfor%}
                    </div>
                    {% else %}
                    {{form.email(type='email', class='input', placeholder='Email')}}
                    {% endif %}
                </div>

                <div class="field input-field">
                    {% if form.password.errors %}
                    {{form.password(class='is-invalid', placeholder='Create password')}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors%}
                        <span class="form-error"> {{error}} </span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.password(type='password', class='password', placeholder='Create password')}}
                    <i class='bx bx-hide eye-icon show'></i>
                    {% endif %}
                </div>

                <div class="field input-field">
                    {% if form.confirm_password.errors %}
                    {{form.confirm_password(class='is-invalid', placeholder='Confirm password')}}
                    <i class='bx bx-hide eye-icon show'></i>
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors%}
                        <span class="form-error"> {{error}} </span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.confirm_password(type='password', class='password', placeholder='Confirm password' )}}
                    <i class='bx bx-hide eye-icon show'></i>
                    {% endif %}
                </div>


                <div class="field button-field">
                    {{form.submit(class='btn')}}
                </div>
            </form>
            <div class="form-link">
                <span>Already have an account? <a href=" {{url_for('login')}} " class="link login-link">Login</a></span>
            </div>
        </div>
        <div class="line"></div>

        <div class="media-options">
            <a href="" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="" class="field google">
                <img src=" {{ url_for('static', filename='images/google.png') }} " alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>
    </div>
</section>

<script src=" {{ url_for('static', filename='js/app.js')}} "></script>
{%endblock%}